/*
rgb(207, 207, 207)
rgb(137, 137, 137)
rgb(88, 88, 88)
rgb(29, 29, 29)
*/

html {
  /* background: linear-gradient(rgb(20, 20, 20), rgb(60, 60, 60)); */
  /* background: rgb(246, 246, 231);
  background-image: url('tronGrid.jpeg');
  background-size: cover;
  background-position: center; */
  height: 100%;
  color: rgb(20, 20, 20);
  /* filter: invert(180); */
  overflow: hidden;
  cursor: crosshair;
}

select {
  -webkit-appearance: none;
  border: none;
  border-radius: 0 0 0 0;
  padding: 5px;
  box-shadow: inset 0 0 4px 1px rgb(30, 30, 30, 0.6);
  border: 2px solid rgb(75, 75, 75);
  font-size: 12px;
}

input {
  cursor: grab;
}

button {
  text-decoration: none;
  border: none;
  border-radius: 0 0 0 0;
  display: inline-block;
  cursor: grabbing;
  box-shadow: 1px 1px 2px 1px rgb(30, 30, 30, 0.5);
}

.backgroundVideo {
  position: fixed;
  /* right: 0;
  bottom: 0; */
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.master-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.landing {
  background: rgb(140, 140, 140);
  position: relative;
  padding: 15px;
  margin: 0 auto;
  width: 360px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-top: 260px;
  box-shadow: 0px 1px 1px 0px rgb(88, 88, 88), 0px 4px 0px 0px rgb(45, 45, 45), 0px -1px 1px 0px rgb(88, 88, 88), 0px 4px 20px 6px rgb(29, 29, 29, 0.5), inset 0px 0px 10px 4px rgb(29, 29, 29, 0.5);
}

.landing input {
  background: rgb(184, 233, 154);
  border: 2px solid rgb(75, 75, 75);
  padding: 2px;
  padding-left: 4px;
  width: 120px;
  font-size: 20px;
  font-family: 'VT323', monospace;
  text-align: left;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 4px 1px rgb(30, 30, 30, 0.6);
}

.landing button {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  text-decoration: none;
  border: none;
  border-radius: 0 0 0 0;
  display: inline-block;
  cursor: grabbing;
  box-shadow: 1px 1px 2px 1px rgb(30, 30, 30, 0.5);
}

.username-input {
  margin-bottom: 10px;
}

.Synthroom {
  text-align: center;
  display: grid;
  grid-template-rows: 25px 75px 40px 350px 250px 20px auto;
  grid-template-columns: auto 225px 325px 225px 325px auto;
  font-family: sans-serif;
}

.Synthroom-logo {
  animation: Synthroom-logo-spin infinite 5s linear;
  height: 120px;
  margin-bottom: -15px;
}

.Synthroom-header {
  background: linear-gradient(rgb(88, 88, 88), rgb(137, 137, 137), rgb(88, 88, 88));
  /* height: 165px; */
  /* padding: 20px; */
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  color: rgb(28, 28, 28);
  border-radius: 15px 15px 4px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 2px solid rgb(215, 215, 215); */
  border-bottom: 2px solid rgb(60, 60, 60);
}

.Synthroom-title {
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-style: italic;
  font-size: 2em;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  white-space: pre;
  /* text-shadow: -1px -1px 0 rgba(160,160,160,0.8) , 1px 1px 2px rgba(0,0,0,0.67); */
  text-shadow: -2px 0 1px rgb(30,242,241) , 2px 0 1px rgb(246,5,10);
  margin-left: 15px;
  margin-bottom: 27px;
}

.master-gain-container {
  margin-right: 15px;
  margin-top: 18px;
}

.master-header {
  margin-top: 10px;
}

#masterGain {
  margin-bottom: -5px;
}

.patch-crud {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-around;
  background-color: rgb(207, 207, 207);
  border-radius: 3px 3px 4px 4px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(105, 105, 105);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(105, 105, 105);
  align-items: center;
}

.patch-crud button {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.patch-crud select {
  width: 120px;
  text-overflow: ellipsis;
  background: rgb(184, 233, 154);
  font-family: 'VT323', monospace;
  font-size: 20px;
  padding: 2px;
}

.patch-crud input {
  /* margin-left: -50px; */
  background: rgb(184, 233, 154);
  border: 2px solid rgb(75, 75, 75);
  padding: 2px;
  padding-left: 4px;
  width: 120px;
  font-size: 20px;
  font-family: 'VT323', monospace;
  text-align: left;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 4px 1px rgb(30, 30, 30, 0.5);
}

#patchSelect {
  margin-left: 7px;
  margin-right: 4px;
}

.room-info {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-around;
  background-color: rgb(207, 207, 207);
  border-radius: 3px 3px 4px 4px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(105, 105, 105);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(105, 105, 105);
  align-items: center;
}

.room-name {
  margin-left: -50px;
  background: rgb(184, 233, 154);
  border: 2px solid rgb(75, 75, 75);
  padding: 2px;
  padding-left: 4px;
  width: 120px;
  font-size: 20px;
  font-family: 'VT323', monospace;
  text-align: left;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 4px 1px rgb(30, 30, 30, 0.5);
}

.user-name {
  margin-left: -50px;
  background: rgb(184, 233, 154);
  border: 2px solid rgb(75, 75, 75);
  padding: 2px;
  padding-left: 4px;
  width: 120px;
  font-size: 20px;
  font-family: 'VT323', monospace;
  text-align: left;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 4px 1px rgb(30, 30, 30, 0.5);
}

.oscillator {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: rgb(137, 137, 137);
  border-radius: 3px 3px 4px 4px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(75, 75, 75);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(75, 75, 75);

  display: grid;
  grid-template-rows: 40px 130px 70px 110px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.oscillator-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.waveform-select-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: left;
}

.octave-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.oscillator-gain-container {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.oscillator-gain-header {
  margin-top: 15px;
}

.octave-view {
  margin-left: 10px;
  background: rgb(184, 233, 154);
  border: 2px solid rgb(75, 75, 75);
  padding: 2px;
  padding-left: 5px;
  padding-right: 6px;
  /* width: 100px; */
  font-size: 20px;
  font-family: 'VT323', monospace;
  text-align: left;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 4px 1px rgb(30, 30, 30, 0.5);
}

.gain-envelope {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background-color: rgb(137, 137, 137);
  border-radius: 3px 3px 4px 4px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(75, 75, 75);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(75, 75, 75);

  display: grid;
  grid-template-rows: 40px 310px;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.gain-envelope input {
  transform: rotate(270deg);
  margin-left: -25px;
}

.gain-envelope-header {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.gainEnvelopeAttackTime {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.gainEnvelopeDecayTime {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.gainEnvelopeSustainLevel {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.gainEnvelopeReleaseTime {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.filter {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  background-color: rgb(137, 137, 137);
  border-radius: 3px 3px 4px 4px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(75, 75, 75);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(75, 75, 75);

  display: grid;
  grid-template-rows: 40px 110px 200px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.filter input {
  transform: rotate(270deg);
  margin-left: -10px;
}

.filter-type-container {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 20px;
}

.filterEnvelopePeakLevel {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.filterEnvelopeQ {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.filter-envelope {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  background-color: rgb(137, 137, 137);
  border-radius: 3px 3px 4px 4px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(75, 75, 75);
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(75, 75, 75);

  display: grid;
  grid-template-rows: 40px 310px;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter-envelope input {
  transform: rotate(270deg);
  margin-left: -25px;
}

.filter-envelope-header {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.filterEnvelopeAttackTime {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.filterEnvelopeDecayTime {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.filterEnvelopeSustainLevel {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.filterEnvelopeReleaseTime {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.chat {
  grid-column: 4 / 6;
  grid-row: 5 / 6;
  background-color: rgb(207, 207, 207);
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 90% 10%;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(110, 110, 110);
  border-radius: 3px 3px 4px 4px;
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(110, 110, 110);
}

.chat-log {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: left;
  /* margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px; */
  overflow: scroll;
  hyphens: auto;
  box-shadow: inset 0 0 10px 1px rgb(30, 30, 30, 0.8);
}

.chat-log li {
  list-style-type: none;
  margin-left: 10px;
}

.chat-log p {
   font-size: 10px;
}

.chat-input {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.chat-send-button {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.spectral {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  background-color: rgb(137, 137, 137);
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(35, 35, 35);
  border-radius: 3px 3px 4px 4px;
  border-left: 2px solid rgb(240, 240, 240);
  border-right: 2px solid rgb(35, 35, 35);
}

.spectral-grid {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  height: 246px;
  width: 546px;
  align-self: center;
  margin-left: 2px;
  border-radius: 2px 2px 2px 2px;
  filter: invert(180);
  opacity: 0.2;
}

.canvas-shader {
  box-shadow: inset 0 0 10px 1px rgb(10, 10, 10);
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  height: 246px;
  width: 546px;
  align-self: center;
  margin-left: 2px;
  border-radius: 2px 2px 2px 2px;
}

canvas {
  z-index: -1;
  margin-left: 0;
  border-radius: 2px 2px 2px 2px;
}

.end-tab {
  grid-column: 2 / 6;
  grid-row: 6 / 7;
  background-color: rgb(88, 88, 88);
  border-radius: 3px 3px 15px 15px;
  border-top: 2px solid rgb(240, 240, 240);
}

.dropshadow {
  grid-column: 2 / 6;
  grid-row: 2 / 7;

  z-index: -2;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 1px 1px 0px rgb(88, 88, 88), 0px 4px 0px 0px rgb(45, 45, 45), 0px -1px 1px 0px rgb(88, 88, 88), 0px -4px 0px 0px rgb(214, 214, 214), 0px 4px 20px 6px rgb(29, 29, 29, 0.5), inset 0px 0px 10px 4px rgb(29, 29, 29, 0.5);
}

.Synthroom-intro {
  font-size: large;
}

@keyframes Synthroom-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.keyboard_graphic {
  width: 250px;
  margin-bottom: -120px;
  margin-top: -40px;
}

.palm {
  z-index: -3;
  position: fixed;
  display: block;
  width: 47%;
  top: -65px;
}

#palm-left {
  left: -150px;
}

#palm-right {
  right: -150px;
  transform: scaleX(-1);
}

.crystal {
  position: fixed;
  display: block;
  width: 27%;
  top: 140px;
}

#crystal-left {
  left: 60px;
}

#crystal-right {
  right: 60px;
  transform: scaleX(-1);
}

#rainbow-dongle {
  display: block;
  margin: auto;
  margin-top: 100px;
}

.bust {
  z-index: -4;
  position: fixed;
  display: block;
  width: 33%;
  bottom: -150px;
}

#bust-left {
  left: -170px;
  transform: scaleX(-1);
}

#bust-right {
  right: -170px;

}

.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 12px;
  background: rgb(30, 30, 30);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: inset 0 0 4px 1px rgb(5, 5, 5, 0.8);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 25px;
    background: linear-gradient(90deg, rgb(220, 220, 220), rgb(220, 220, 220), rgb(50, 50, 50), rgb(220, 220, 220), rgb(220, 220, 220));
    cursor: pointer;
}
